[submodule "ObjCMongoDB"]
	path = ObjCMongoDB
	url = https://github.com/paulmelnikow/ObjCMongoDB.git
[submodule "BBGestureRecognizer"]
	path = BBGestureRecognizer
	url = git@github.com:brennon/BBGestureRecognizer.git
[submodule "Quick"]
	path = Quick
	url = git@github.com:Quick/Quick.git
[submodule "Nimble"]
	path = Nimble
	url = git@github.com:Quick/Nimble.git
